{% extends 'layout.html' %}

{% block pageTitle %}
    Send your responses
{% endblock %}

{% block beforeContent %}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

                <h1 class="govuk-heading-xl">Send your responses</h1>

                <p>
                    Copy the code below into an email and send it to the researcher.
                </p>

                {{ govukTextarea ({
                    id: 'export-json',
                    name: 'export-json',
                    value: data['export-json'],
                    label: {
                        text: 'Responses'
                    }
                }) }}

                <p>
                    <a href="letter">
                        Go back
                    </a>
                </p>

            </form>

        </div>

</div>

{% endblock %}

{% block pageScripts %}

<script>

function selectAllTextInTextArea() {
    $('textarea#export-json').select();
}
$('textarea#export-json').select();

$('textarea#export-json').on('click', selectAllTextInTextArea)

</script>

{% endblock %}