{% extends 'layout_unbranded.html' %}

{% block pageTitle %}
    Content research tool
{% endblock %}



{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="instructions">

                <h1 class="govuk-heading-xl">Content research tool</h1>

                <input type="hidden" name="colour-distinction" value="true">

                {{ govukButton ({
                    html: 'Load example'
                }) }}

            </form>

        </div>

</div>

{% endblock %}