
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Content research tool: Letter
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div id="contentToTest" class="content-letter {{ 'colour-distinction' if data['colour-distinction'] == 'true' }} taller-lines">

        <h2 class="govuk-heading-xl govuk-!-margin-top-9">Report treasure</h2>

        
    
        <div class="gem-c-govspeak govuk-govspeak direction-ltr disable-youtube" data-module="govspeak">
            
              <p>You must report treasure to the local coroner within 14 days of finding it.</p>

        <p>You only need to report items officially defined as treasure.</p>

        <div role="note" aria-label="Warning" class="application-notice help-notice">
        <p>There’s an unlimited fine or up to 3 months in prison for not reporting treasure.</p>
        </div>

        <p>You can voluntarily report items to the Portable Antiquities Scheme if they are not treasure but are still of cultural or historical interest. This is to help keep a record of all finds in England and Wales.</p>

        <div role="note" aria-label="Information" class="application-notice info-notice">
        <p>There are different rules for Scotland and Northern Ireland.</p>
        </div>

        <h2 id="changes-to-reporting-treasure-because-of-coronavirus-covid-19" class="govuk-heading-l">Changes to reporting treasure</h2>

        <p>Because of coronavirus, you must report treasure and archaeological finds in a different way.</p>

        <h2 id="after-a-find-is-reported" class="govuk-heading-l">After a find is reported</h2>

        <p>A local Finds Liaison Officer will contact you to talk about how and where you made the find and to give you a receipt.</p>

        <p>They’ll write a report on the find. Museums can express an interest in it if it might be treasure.</p>

        <p>The coroner will then hold an inquest. You may be invited to the inquest, along with the site occupier and landowner of where the treasure was found, and given the opportunity to ask questions.</p>

        <h2 id="if-a-museum-wants-the-treasure" class="govuk-heading-l">If a museum wants the treasure</h2>

        <p>The Treasure Valuation Committee will decide how much the treasure is worth and how much will go to anyone eligible for a share of the find.</p>

        <p>You’ll have the chance to comment on the valuation, along with the site occupier and landowner, or send your own valuation for the committee to consider.</p>

        <p>You can also ask the committee to review any decision about the value of the find, or appeal to the Department for Culture Media and Sport (<abbr title="Department for Culture, Media and Sport">DCMS</abbr>) if they still disagree after a review.</p>

        <h3 id="who-gets-a-share-of-the-reward" class="govuk-heading-m">Who gets a share of the reward</h3>

        <p>You may get a share of the reward if you’re:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>the finder, and had permission to be on the land and acted in good faith</li>
          <li>a person or organisation with freehold on the land</li>
          <li>someone who occupies the land as a tenant of the owner</li>
        </ul>

        <p>Archaeologists are not entitled to a share of any reward. If you act in bad faith (for example by trespassing or trying to hide the find) you may get a reduced share of the reward, or none at all.</p>

        <p>It can take up to 1 year from when the treasure was found until the reward is paid (it’s longer for large or disputed finds).</p>

        <h2 id="if-the-find-doesnt-count-as-treasure-or-no-museum-wants-it" class="govuk-heading-l">If the find doesn’t count as treasure</h2>

        <p>The items will be returned to you, and the landowner and site occupier informed. They have the chance to object within 28 days.</p>

        <p>The coroner will keep the find until any disputes are resolved.</p>



        </div>

  
        
      </div>
      
    </div>
  </div>

  <div class="vote-button-container">

      <div class="govuk-width-container">

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-full">

            <div class="vote-buttons-wrapper">

              <form action="export" class="vote-buttons {{ 'colour-distinction' if data['colour-distinction'] == 'true' }}">

                <input id="export-field" type="hidden" name="export-json" value="{{ data['export-json'] }}">

                  {{ govukButton({
                    text: 'Makes sense',
                    type: 'button',
                    classes: 'button--good',
                    attributes: {
                      'onclick': 'javascript:CFObject.voteUp();'
                    }
                  }) }}

                  {{ govukButton({
                    text: 'Does not make sense',
                    classes: 'govuk-button--warning button--bad',
                    type: 'button',
                    attributes: {
                      'onclick': 'javascript:CFObject.voteDown();'
                    }
                  }) }}

                  <div class="spacer"></div>

                  {{ govukButton({
                    text: 'I am finished',
                    type: 'submit',
                    classes: 'govuk-button--secondary'
                  }) }}

                </form>

            </div>
            
          </div>
          
        </div>

      </div>

  </div>

{% endblock %}
